Repository iutzeler/skwdro, pull requests merged in 2024-04, with the labels that each got.

#106 Fixed the importance sampling
  examples/TODO/logistic_reg.py
  skwdro/linear_models/_logistic_regression.py
  skwdro/solvers/_dual_interfaces/_impsamp_interface.py
  skwdro/solvers/_dual_interfaces/dual_loss.py
  skwdro/solvers/optim_cond.py
  skwdro/solvers/oracle_torch.py
  skwdro/wrap_problem.py
  tests/torch_tests/test_regularized_linear_exact.py
Labels: bug, enhancement, Test

#105 Following pep8 rules
  .github/workflows/style.yml
  .gitignore
  Makefile
  README.md
  pyproject.toml
  skwdro/__init__.py
  skwdro/base/cost_decoder.py
  skwdro/base/costs_torch/base_cost.py
  skwdro/base/costs_torch/normcost.py
  skwdro/base/costs_torch/normlabelcost.py
  skwdro/base/losses_torch/__init__.py
  skwdro/base/losses_torch/base_loss.py
  skwdro/base/losses_torch/logistic.py
  skwdro/base/losses_torch/newsvendor.py
  skwdro/base/losses_torch/portfolio.py
  skwdro/base/losses_torch/quadratic.py
  skwdro/base/losses_torch/weber.py
  skwdro/base/losses_torch/wrapper.py
  skwdro/base/problems.py
  skwdro/base/rho_tuners.py
  skwdro/base/rho_tuners_computations.py
  skwdro/base/samplers/torch/__init__.py
  skwdro/base/samplers/torch/base_samplers.py
  skwdro/base/samplers/torch/classif_sampler.py
  skwdro/base/samplers/torch/cost_samplers.py
  skwdro/base/samplers/torch/newsvendor_sampler.py
  skwdro/base/samplers/torch/portfolio_sampler.py
  skwdro/distributions/__init__.py
  skwdro/distributions/dirac_distribution.py
  skwdro/linear_models/__init__.py
  skwdro/linear_models/_linear_regression.py
  skwdro/linear_models/_logistic_regression.py
  skwdro/neural_network/__init__.py
  skwdro/neural_network/_loss_shallownet.py
  skwdro/neural_network/_shallow_net.py
  skwdro/operations_research/__init__.py
  skwdro/operations_research/_newsvendor.py
  skwdro/operations_research/_portfolio.py
  skwdro/operations_research/_weber.py
  skwdro/solvers/__init__.py
  skwdro/solvers/_dual_interfaces/_impsamp_interface.py
  skwdro/solvers/_dual_interfaces/_misc_dual_interfaces.py
  skwdro/solvers/_dual_interfaces/dual_loss.py
  skwdro/solvers/entropic_dual_torch.py
  skwdro/solvers/entropic_dual_torch_epsilon.py
  skwdro/solvers/hybrid_opt.py
  skwdro/solvers/optim_cond.py
  skwdro/solvers/oracle_torch.py
  skwdro/solvers/result.py
  skwdro/solvers/specific_solvers.py
  skwdro/solvers/utils.py
  skwdro/tests/test_common.py
  skwdro/utils/classifier_comparison.py
  skwdro/wrap_problem.py
Labels: enhancement, DO NOT MERGE, Test

#108 Linear regression example
  doc/API/skwdro.distributions.rst
  examples/TODO/linear_reg.py
  examples/builtin_models/linear_regression.py
  examples/custom_models/polynomial_regression.py
  pyproject.toml
  skwdro/linear_models/_linear_regression.py
Labels: bug, enhancement
